$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(230, 220, 230);

body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-buttons {
  margin-right: 2em;
}

button[type="board-button"] {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1em;
  width: 5em;
  height: 2.5em;
  border: 1px solid rgb(170, 160, 140);
  border-radius: 4px;
  background: rgb(240, 240, 240);
}

button[type="board-button"]:disabled {
  background: rgb(70, 70, 70);
}

button[type="board-button"]:enabled:hover {
  box-shadow: 0 0 .3em .1em rgb(100, 100, 100);
}

.note-input {
  margin-top: 1em;
  display: flex;
}

.searchbar {
  box-sizing: border-box;
  border: 1px solid rgb(150, 140, 120);
  padding-left: .7em;
  margin-left: 1em;
  width: 20em;
  height: 2em;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
}

button[type="submit"] {
  box-sizing: border-box;
  height: 2em;
  width: 5em;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  color: rgb(50, 50, 50);
  background: rgb(240, 240, 240);
  border: 1px solid rgb(170, 160, 140);
  border-radius: 2px;
}

button[type="submit"]:hover {
  box-shadow: .05em .05em .1em .05em rgb(150, 150, 150);
}

#noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.note {
  background: rgb(161, 201, 245);
  min-width: 10em;
  min-height: 10em;
  max-width: 50em;
  border: 1px solid;
  border-color: rgb(130, 130, 130);
  box-shadow: .25em .25em .3em .05em rgb(170, 170, 170);
  border-radius: 3px;
  padding: .5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.note-title {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1.7em;
}

.note-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.header-icon {
  margin-left: 5px;
}

.noteBody {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1.3em;
}

.modal {
  margin-left: 25vw;
  background: rgb(220, 200, 220);
  border: 1px solid rgb(50, 50, 50);
  margin-top: 10vw;
  width: 40em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-editing {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.title-edit-label {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1.3em;
}

.modal-input {
  width: 20em;
  height: 1.5em;
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1em;
}

.text-editing {
  margin-top: 1.5em;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.text-edit-label {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1.3em;
}

.modal-textarea {
  width: 20em;
  height: 5em;
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1em;
  resize: none;
}

.modal-buttons {
  margin-top: 1.5em;
  width: 77%;
  display: flex;
  justify-content: flex-end;
}

button[type="modal-button"] {
  margin-left: .7em;
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  font-size: 1.3em;
  width: 5em;
  height: 2em;
}

button[type="modal-button"]:hover {
  box-shadow: .05em .05em .2em .07em rgb(100, 100, 100);
}
